.header {
  background: green;
  font-size: 40px;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.add-btn {
  background: none;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  left: 40px;
  top: -6px;
}

.add-modal {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow-y: auto;


  .close-btn {
    background: red;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    position: fixed;
    right: 80px;
    font-weight: 900;
    top: 40px;

    &:hover {
      background: darkred;
    }
  }

  .add-modal-content {
    width: 300px;


    input {
      width: 100%;
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      font-size: 15px;
    }

    button {
      background: green;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 15px;
      cursor: pointer;
      font-weight: 900;

      &:hover {
        background: darkgreen;
      }
    }
  }
}